<!DOCTYPE html>
<html>
<head>
    <title>Login - Smart Campus</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="login-page">

<div class="bg-animation"></div>

<div class="login-container">

    <div class="login-card">
        <h2>🎓 Smart Campus</h2>
        <p class="subtitle">AI Powered Student Dashboard</p>

        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}

        <form method="POST">
            <div class="input-group">
                <input type="text" name="username" required>
                <label>Username</label>
            </div>

            <div class="input-group">
                <input type="password" name="password" required>
                <label>Password</label>
            </div>

            <button type="submit">Login</button>
        </form>
    </div>

</div>

</body>
</html>